/* src/components/Profile/Profile.css */
.profile-section {
    margin-top: 16px;
    font-size: 16px;
    color: #333;
}

.profile-section h3 {
    margin-bottom: 8px;
}

.profile-section p {
    margin: 0;
    padding: 4px 0;
}

.ant-anchor-wrapper {
    padding: 16px;
    background-color: #f0f2f5;
    height: 100%;
}

.ant-anchor-link-title {
    font-size: 16px;
}

.fixed-sider {
    position: fixed;
    top: 64px; /* 调整固定位置，避免导航栏遮挡 */
    left: 0;
    height: calc(100% - 64px); /* 调整高度 */
}

.site-layout {
    margin-left: 200px;
}

.site-layout-content {
    overflow: auto;
    padding: 24px;
    margin: 0;
    min-height: 280px;
}

.points-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.point-item {
    display: flex;
    align-items: center;
}

.point-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}