.monster-health-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    height: 14px;
    background-color: rgba(44, 44, 44, 0.6);
    border-radius: 2px;
    overflow: hidden;
}

.health-bar-fill {
    height: 100%;
    background: linear-gradient(to right, #721f1f, #cd1f1f, #ff4d4d, #ffa64d,  #52c41a);
    transition: width 0.5s ease-out;
    position: relative;
}
 
.health-bar-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    pointer-events: none; // 确保文本不会干扰鼠标事件
}
