:root {
    --card-padding: 10px;
    --card-height: 316px;
    --card-width: 223px;
    --card-radius: 24px;
    --card-color-lv-1: linear-gradient(to top, #ff4d4faa, transparent);
    --card-color-lv-2: linear-gradient(to top, #faad14aa, transparent);
    --card-color-lv-3: linear-gradient(to top, #52c41aaa, transparent);
    --card-color-lv-4: linear-gradient(to top, #f5222daa, transparent);
    --card-color-lv-5: linear-gradient(to top, #40a9ffaa, transparent);
}

/* 技能卡片样式 */
.skill-card {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: var(--card-radius);
    padding: var(--card-padding);
    height: var(--card-height);
    width: var(--card-width);
    max-height: 100%; /* 限制最大高度 */
    background-size: cover; /* 确保背景图片覆盖整个卡片 */
    background-position: center; /* 将背景图片居中显示 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */
    cursor: pointer; /* 添加鼠标指针样式 */
}

.skill-card:hover {
    transform: scale(1.02);
}

.skill-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    color: white;
    text-effect: outline;
}

.skill-card-icon {
    font-size: 24px;
    margin-right: 8px;
}

.skill-card-title {
    text-shadow: #0e2439 2px 4px 6px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.skill-card-button {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    display: none;
}

.skill-card.defeat {
    background: var(--card-color-lv-1), url('/src/assets/skills/attack_result_defeat.png');
    background-position: center;
    background-size: cover;
}

.skill-card.miss {
    background:  var(--card-color-lv-2), url('/src/assets/skills/attack_result_miss.png');
    background-position: center;
    background-size: cover;
}

.skill-card.hit {
    background:  var(--card-color-lv-3), url('/src/assets/skills/attack_result_hit.png');
    background-position: center;
    background-size: cover;
}

.skill-card.kill {
    background:  var(--card-color-lv-4), url('/src/assets/ui/background.png');
    background-position: center;
    background-size: cover;
}

.skill-card.complete {
    background:  var(--card-color-lv-5), url('/src/assets/skills/attack_result_complete.png');
    background-position: center;
    background-size: cover;
}


/* 媒体查询：在手机上调整布局 */
@media (max-width: 768px) {
    .skill-card {
        height: calc(var(--card-height) / 4.3);
        width: calc(var(--card-width) / 4.3);
        border-radius:  calc(var(--card-radius) / 3);
        padding: 6px; /* 调整技能卡片的内边距 */
    }

    .skill-card-content {
        padding: 1px; /* 调整技能卡片内容的内边距 */
    }

    .skill-card-title {
        font-size: 8px; /* 调整技能卡片标题的字体大小 */
    }

    .skill-card-icon {
        font-size: 8px; /* 调整技能卡片图标的字体大小 */
    }
}