/* 技能卡片样式 */
.skill-card {
    margin-bottom: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    height: 108px; /* 调整高度 */
    width: 100%; /* 调整宽度 */
    background-size: cover; /* 确保背景图片覆盖整个卡片 */

    /*background-size: auto 100%; !* 确保背景图片高度与卡片高度一致 *!*/
    background-position: right center; /* 将背景图片定位到右侧中间 */
    background-repeat: no-repeat; /* 禁止背景图片重复 */

    cursor: pointer; /* 添加鼠标指针样式 */
}

.skill-card:hover {
    transform: scale(1.02);
}

.skill-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    color: white;
}

.skill-card-icon {
    font-size: 24px;
    margin-right: 8px;
}

.skill-card-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.skill-card-button {
    width: 100%;
    border: none;
    background: none;
    box-shadow: none;
    display: none;
}

.skill-card.defeat {
    background: linear-gradient(to right, #ff4d4f, transparent), url('/src/assets/ui/background.png');
}

.skill-card.miss {
    background: linear-gradient(to right, #faad14, transparent), url('/src/assets/ui/background.png');
}

.skill-card.hit {
    background: linear-gradient(to right, #52c41a, transparent), url('/src/assets/ui/background.png');
}

.skill-card.kill {
    background: linear-gradient(to right, #f5222d, transparent), url('/src/assets/ui/background.png');
}

.skill-card.complete {
    background: linear-gradient(to right, #40a9ff, transparent), url('/src/assets/ui/background.png');
}