/* src/components/Common/ActionButtons.css */
.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 16px;

    --card-btn-height: 68px;
    --card-btn-width: calc(var(--card-btn-height) * 1.618)
}

.button-container.flex-start {
    justify-content: flex-start;
}

.button-container.flex-end {
    justify-content: flex-end;
}

.button-container.space-around {
    justify-content: space-around;
}

.button-container.space-between {
    justify-content: space-between;
}


.button-container .ant-btn-primary, .button-container .ant-btn-danger, .button-container .custom-btn {
    margin: 8px;
    height: var(--card-btn-height);
    width: var(--card-btn-width);
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 0 1 /* calc(25% - 16px); /* Flex-grow, flex-shrink, and flex-basis */
}

.button-container .ant-btn-primary {
    background-image: url('/src/assets/battlefield/battlefield_01.png');
}

.button-container .ant-btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.button-container .ant-btn-danger {
    background-image: url('/src/assets/battlefield/battlefield_01.png');
}

.button-container .ant-btn-danger:hover {
    background-color: #ff7875;
    border-color: #ff7875;
}

.button-container .custom-btn {
    background-image: url('/src/assets/battlefield/battlefield_01.png');
}

.button-container .custom-btn:hover {
    background-color: #6a6a6a;
    border-color: #6a6a6a;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .button-container .ant-btn-primary,
    .button-container .ant-btn-danger,
    .button-container .custom-btn {
        width: 100%;
        margin-bottom: 8px;
    }
}