// 全局变量
@navbar-height: 64px;

// 导航栏颜色
@navbar-header-primary-color: #4a00e0;
@navbar-header-secondary-color: #8e2de2;
@navbar-header-text-color: white;
@navbar-header-highlight-color: #ffd700;

@layout-header-height: 180px;
@layout-header-mobile-height: 68px;;

// 其他全局变量
@default-transition-duration: 0.3s;